arxiv
openai
python-dotenv
argparse
markdown2
markdown-it-py
mdit-py-plugins 
google-genai
anthropic
tqdm
google-cloud-aiplatform
crewai
crewai[tools]
numpy
scikit-learn
ipykernel
flytekit
pydantic
requests
urllib3